#Checkout {
	margin-top: 15px;
}

#LeftCheckout {
  float: left;
  width: 48%; 
  padding: 5px;
  border: 1px solid red;
}

#RightCheckout {
  float: right;
  width: 48%; 
  padding: 5px;
  border: 1px solid green;
}

#Checkout .Actions {
  text-align: right;	
}

#Checkout ul {
  list-style-type: none;	
}

#Checkout h3 {
  margin-bottom: 15px;	
}

#Checkout span.error, #Checkout span.required, #Checkout span.validation {
    color: red;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
    width: 100%;
}

h3#Form_OrderForm_HeaderFieldPayment-Type {
  margin-top: 45px;	
}

div#Amount {
  display: none;	
}

h3#CheckoutForm_OrderForm_HeaderFieldShipping-Address {
  float: left;
}

#Shipping[FirstName] {
  clear: both;
  border: 1px solid blue;	
}

#personal-details {
  width: 100%;
  border: 1px solid black;
  float: left;
  margin-top: 20px; 
}

div.shipping-firstname {
  clear: both;	
}

input.text, #LeftCheckout.select, #RightCheckout.select {
  width: 200px;	
}
