#Checkout {
	margin-top: 15px;
}

#LeftCheckout {
  float: left;
  width: 48%; 
  padding: 5px;
  border: 1px solid red;
}

#RightCheckout {
  float: right;
  width: 48%; 
  padding: 5px;
  border: 1px solid green;
}

#personal-details {
  width: 100%;
  border: 1px solid black;
  float: left;
  margin-top: 20px;	
}

#Checkout .Actions {
  text-align: right;	
}

#Checkout ul {
  list-style-type: none;	
}

#Checkout h3 {
  margin-bottom: 15px;	
}

#Checkout span.error {
    color: red;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
    width: 100%;
}

h3#Form_OrderForm_HeaderFieldPayment-Type {
  margin-top: 45px;	
}

div#Amount {
  display: none;	
}
