#OrderWorkFlow {
  width: 97%;
  padding: 0px;	
  float: left;
}

.WorkFlowProcess {
  min-height: 100px;
  width: 30%;
  float: left;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

#OrderPending {
	color: #e10c0c;
  background-color: #ffcdd1;
  border-color: #e10c0c;
}

#OrderProcessing {
	color: #9F6000; 
  background-color: #FEEFB3;	
  border-color: #9F6000;
  margin-left: 5px;
}

#OrderDispatched {
	color: #4F8A10;
  background-color: #DFF2BF;
  border-color: #4F8A10;
  margin-left: 5px;
}

.right form .field label.StatusTitle {
font-size: 16px;
font-weight: bold;
margin-left: 5px;
color: #666;
}

#OrderWorkFlow input[type="radio"] {
float: left;
margin-top: 3px;
}

.Meaning {
  font-style: italic;
  font-size: 11px;	
}

#Root_WorkFlow #Status {
float: left;
margin-bottom: 8px;
}

#Root_WorkFlow #Status label.left {
	float: left;
	width: 45px;
	font-size: 14px;
	margin-top: 3px;
}	
	
#Root_WorkFlow #Status .middleColumn {
background: none;
width: inherit;
float: left;
}
	
.WorkFlowActions {
  border: 1px solid blue;	
}