/* Product Image upload field */
.productimageupload .middleColumn {
  width: 100%;
  background: none;
  border: none;
}
.productimageupload .ss-uploadfield-addfile {
  margin-bottom: 20px;
  border: none;
}
.productimageupload .ss-uploadfield-addfile.borderTop {
  border-top: none;
}
.productimageupload .ss-uploadfield-addfile .ss-uploadfield-dropzone {
  background: none repeat scroll 0 0 #D4DBE0;
  border: 2px dashed gray;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 0 0 3px 2px rgba(128, 128, 128, 0.3) inset;
  display: none;
  float: left;
  height: 82px;
  margin-top: 9px;
  width: 408px;
}
.productimageupload .ss-uploadfield-addfile .ss-uploadfield-dropzone div {
  background: url("../../framework/images/upload.png") no-repeat scroll 0 25px transparent;
  color: #5E5E5E;
  display: block;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  margin: 0 auto;
  padding: 20px 0 0;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  width: 230px;
  z-index: 1;
}
.productimageupload .ss-uploadfield-addfile .ss-uploadfield-dropzone div span {
  display: block;
  font-size: 14px;
  z-index: -1;
}
.productimageupload .ss-uploadfield-addfile .ss-uploadfield-item-uploador {
  display: none;
  float: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 70px;
  margin-top: 16px;
  padding: 0 20px;
}
.productimageupload .ss-uploadfield-addfile .ss-uploadfield-item-info {
  float: left;
  margin: 34px 0;
  font-size: 14px;
  font-weight: 700;
}
.productimageupload .ss-uploadfield-addfile .ss-uploadfield-item-name {
  float: left;
  margin-bottom: 5px;
}
.productimageupload .ss-uploadfield-addfile .ss-uploadfield-fromcomputer {
  clear: left;
}
.productimageupload .ss-uploadfield-files .ss-uploadfield-item,
.productimageupload .ss-uploadfield-files .ss-uploadfield-item.ui-state-error {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  cursor: pointer;
}
.productimageupload .ss-uploadfield-files .ss-uploadfield-item:last-child,
.productimageupload .ss-uploadfield-files .ss-uploadfield-item.ui-state-error:last-child {
  border-bottom: 1px solid #ccc;
}
.ss-uploadfield-edit-iframe label {
  padding: 0;
}
.ss-uploadfield-edit-iframe form.small .field textarea {
  width: 350px;
}
.ss-uploadfield-edit-iframe .cms-file-info {
  border-bottom: none;
}
