/* Table of Contents
==================================================
  #Less Elements
  #Email Styles
*/
/* #Less Elements
================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.sws table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.sws .table {
  width: 100%;
  margin-bottom: 18px;
}
.sws .table th,
.sws .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.sws .table th {
  font-weight: bold;
}
.sws .table thead th {
  vertical-align: bottom;
}
.sws .table thead:first-child tr th,
.sws .table thead:first-child tr td {
  border-top: 0;
}
.sws .table tbody + tbody {
  border-top: 2px solid #ddd;
}
.sws .table-condensed th,
.sws .table-condensed td {
  padding: 4px 5px;
}
.sws .table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.sws .table-bordered th + th,
.sws .table-bordered td + td,
.sws .table-bordered th + td,
.sws .table-bordered td + th {
  border-left: 1px solid #ddd;
}
.sws .table-bordered thead:first-child tr:first-child th,
.sws .table-bordered tbody:first-child tr:first-child th,
.sws .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.sws .table-bordered thead:first-child tr:first-child th:first-child,
.sws .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.sws .table-bordered thead:first-child tr:first-child th:last-child,
.sws .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.sws .table-bordered thead:last-child tr:last-child th:first-child,
.sws .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.sws .table-bordered thead:last-child tr:last-child th:last-child,
.sws .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.sws .table-striped tbody tr:nth-child(odd) td,
.sws .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.sws .table tbody tr:hover td,
.sws .table tbody tr:hover th {
  background-color: #f5f5f5;
}
.sws table .span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
.sws table .span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
.sws table .span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
.sws table .span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
.sws table .span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
.sws table .span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
.sws table .span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
.sws table .span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
.sws table .span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
.sws table .span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
.sws table .span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
.sws table .span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
/* #Email Styles
================================================== */
.order {
  margin: 15px 0;
}
.order .table th {
  background: #eeeeee;
}
.order .table td {
  background: #ffffff;
}
.order .table td .alert {
  margin-bottom: 0px;
}
.order .table td.row-header {
  text-align: right;
  font-weight: bold;
}
.order .table td.mod-title {
  font-weight: normal;
}
.order .table .totals-column {
  text-align: right;
}
