/* 
  Order Report ==========================================
*/

h1.title {
display:block;
text-align:right;
border-bottom:1px solid #CDDDDD;
text-transform:uppercase;
}

#Content {
text-align:left;
/*
margin:auto;
padding-left:20px;
*/
}

#Content td {
}

#Content .emailTitle {
color:#4EA3D7;
font-family:Tahoma, Verdana, sans-serif;
font-weight:400;
font-size:20px;
}

#Content .PageTitle {
padding:5px;
color:#333;
font-size:14px;
font-family:Tahoma, Verdana, sans-serif;
}

#Content .footer td {
padding:10px;
}

#Content .footer td.right {
text-align:right;
}

#Content .typography {
padding:0 10px;
}

#Content .typography a {
font-size:1em;
text-decoration:underline;
}

#Content .typography a:hover {
text-decoration:none;
}

#Content .typography ul {
padding:2px 15px;
}

#Content .typography ul li {
padding:2px 5px;
}

#Content .typography p {
margin:.75em 0;
font-size:12px;
color:#666;
}

table#SenderTable {
width:100%;
}

table#SenderTable .sender,table#SenderTable .meta {
width:50%;
}

table#MetaTable {
margin-left:auto;
}

table#MetaTable .label {
font-weight:700;
}

table.infotable {
border:1px solid #CDDDDD;
border-collapse:collapse;
width:100%;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
background:#fff;
margin-top:10px;
}

.warningMessage {
margin:4px 0 0 3px;
padding:5px;
width:92%;
color:#DC1313;
border:4px solid #FF7373;
background:#FED0D0;
}

table.infotable h3 {
color:#4EA3D7;
font-size:15px;
font-weight:400;
font-family:Tahoma, Verdana, sans-serif;
}

table.infotable tr.Total {
background:#c9ebff;
}

table.infotable tr.Total td {
font-weight:700;
font-size:14px;
color:#4EA3D7;
text-transform:uppercase;
}

table.infotable tr td,table.infotable tr th {
padding:5px;
color:#333;
border:1px solid #CDDDDD;
}

table.infotable td {
font-size:12px;
}

table.infotable tr.summary {
font-weight:700;
}

table.infotable td.ordersummary {
font-size:1em;
border-bottom:1px solid #ccc;
}

table.infotable th {
font-weight:700;
font-size:12px;
color:#000;
background:#E7EFEF;
}

table.infotable tr td a {
color:#4EA3D7;
text-decoration:underline;
}

table.infotable tr td a:hover {
text-decoration:none;
}

table.infotable .modifierRow,table.infotable .threeColHeader {
text-align:right;
}

table.infotable .right {
text-align:right;
}

table.infotable .center {
text-align:center;
}

table.infotable .left,table.infotable th {
text-align:left;
}

#ShippingTable td,#ShippingTable th {
width:50%;
}

.Order h3 {
margin-bottom:2px;
}

.OrderMeta {
color:#666;
font-size:12px;
font-style:italic;
}

#OrderInformation {
margin:5px 0 20px;
}

/* 
  Checkout ========================================
*/

#Checkout {
margin-top:15px;
}

#LeftCheckout {
float:left;
width:48%;
padding:5px;
border:1px solid red;
}

#RightCheckout {
float:right;
width:48%;
padding:5px;
border:1px solid green;
}

#Checkout .Actions {
text-align:right;
}

#Checkout ul {
list-style-type:none;
}

#Checkout h3 {
margin-bottom:15px;
}

#Checkout span.error,#Checkout span.required,#Checkout span.validation {
color:red;
font-size:14px;
font-style:italic;
margin-bottom:5px;
width:100%;
}

h3#Form_OrderForm_HeaderFieldPayment-Type {
margin-top:45px;
}

div#Amount {
display:none;
}

h3#CheckoutForm_OrderForm_HeaderFieldShipping-Address {
float:left;
}

#Shipping[FirstName] {
clear:both;
border:1px solid blue;
}

#PersonalDetails {
width:100%;
border:1px solid #000;
float:left;
margin-top:20px;
}

#PersonalDetails .CompositeField {
float:left;
padding:10px;
width:45%;
}

div.shipping-firstname {
clear:both;
}

input.text,#LeftCheckout.select,#RightCheckout.select {
width:200px;
}

ul#CheckoutForm_OrderForm_PaymentMethod li {
padding:5px;
margin:10px 0 0;
}

#CheckoutForm_OrderForm_Notes {
width:100%;
}

/*
  Cart ==============================================
*/

#CartForm_CartForm .Actions {
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
text-align: right;
}


