/* 
  Order Report ==========================================
*/

h1.title {
display:block;
text-align:right;
border-bottom:1px solid #CDDDDD;
text-transform:uppercase;
}

#Content {
text-align:left;
/*
margin:auto;
padding-left:20px;
*/
}

#Content td {
}

#Content .emailTitle {
color:#4EA3D7;
font-family:Tahoma, Verdana, sans-serif;
font-weight:400;
font-size:20px;
}

#Content .PageTitle {
padding:5px;
color:#333;
font-size:14px;
font-family:Tahoma, Verdana, sans-serif;
}

#Content .footer td {
padding:10px;
}

#Content .footer td.right {
text-align:right;
}

#Content .typography {
padding:0 10px;
}

#Content .typography a {
font-size:1em;
text-decoration:underline;
}

#Content .typography a:hover {
text-decoration:none;
}

#Content .typography ul {
padding:2px 15px;
}

#Content .typography ul li {
padding:2px 5px;
}

#Content .typography p {
margin:.75em 0;
font-size:12px;
color:#666;
}

table#SenderTable {
width:100%;
}

table#SenderTable .sender,table#SenderTable .meta {
width:50%;
}

table#MetaTable {
margin-left:auto;
}

table#MetaTable .label {
font-weight:700;
}

table.infotable {
border:1px solid #CDDDDD;
border-collapse:collapse;
width:100%;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
background:#fff;
margin-top:10px;
}

.warningMessage {
margin:4px 0 0 3px;
padding:5px;
width:92%;
color:#DC1313;
border:4px solid #FF7373;
background:#FED0D0;
}

table.infotable h3 {
color:#4EA3D7;
font-size:15px;
font-weight:400;
font-family:Tahoma, Verdana, sans-serif;
}

table.infotable tr.Total {
background:#c9ebff;
}

table.infotable tr.Total td {
font-weight:700;
font-size:14px;
color:#4EA3D7;
text-transform:uppercase;
}

table.infotable tr td,table.infotable tr th {
padding:5px;
color:#333;
border:1px solid #CDDDDD;
}

table.infotable td {
font-size:12px;
}

table.infotable tr.summary {
font-weight:700;
}

table.infotable td.ordersummary {
font-size:1em;
border-bottom:1px solid #ccc;
}

table.infotable th {
font-weight:700;
font-size:12px;
color:#000;
background:#E7EFEF;
}

table.infotable tr td a {
color:#4EA3D7;
text-decoration:underline;
}

table.infotable tr td a:hover {
text-decoration:none;
}

table.infotable .modifierRow,table.infotable .threeColHeader {
text-align:right;
}

table.infotable .right {
text-align:right;
}

table.infotable .center {
text-align:center;
}

table.infotable .left,table.infotable th {
text-align:left;
}

#ShippingTable td, #ShippingTable th {
width:50%;
}

.Order h3 {
margin-bottom:2px;
}

.OrderMeta {
color:#666;
font-size:12px;
font-style:italic;
}

#OrderInformation {
margin:5px 0 20px;
}

/* 
  Checkout ========================================
*/

h2, h3 {
color: #333;	
}

#Checkout {
margin-top:15px;
}

#LeftCheckout {
float:left;
width:48%;
padding:5px;
}

#RightCheckout {
float:right;
width:48%;
padding:5px;
}

#Checkout .Actions {
text-align:right;
margin: 15px 0;
}

#Checkout ul {
list-style-type:none;
}

#Checkout h3 {
margin-bottom:15px;
}

#Checkout span.error,#Checkout span.required,#Checkout span.validation,#Checkout p.message {
color:red;
font-size:14px;
font-style:italic;
margin-bottom:5px;
width:100%;
float: left;
}

h3#Form_OrderForm_HeaderFieldPayment-Type {
margin-top:45px;
}

#Checkout div#Amount {
display:none;
}

h3#CheckoutForm_OrderForm_HeaderFieldShipping-Address {
float:left;
}

#Shipping[FirstName] {
clear:both;
border:1px solid blue;
}

#Addresses, #PersonalDetails, #Order, #Notes, #PaymentFields {
float: left;
width: 100%;
margin: 10px 0;
}

#PersonalDetails .CompositeField {
float:left;
padding:0 5px;
width:45%;
}

div.shipping-firstname {
clear:both;
}

#Checkout input.text, #Checkout textarea, #LeftCheckout.select, #RightCheckout.select {
width:200px;
padding:5px;
color:#333;
border:1px solid #CDDDDD;
}

ul#CheckoutForm_OrderForm_PaymentMethod li {
padding:5px;
margin:10px 0 0;
}

#Checkout textarea#CheckoutForm_OrderForm_Notes {
width: 500px;
}

#Checkout label.left {
color: #777;
float: left;
clear: left;
margin: 5px 0;
}

#Checkout label {
color: #777;	
}

#Checkout .middleColumn {
float: left;
width: 100%;
}

p#ShipToBillingAddress {
float: left;
margin-left: 15px;
padding: 2px;
}

span.seperator {
width: 100%;
height: 1px;
border-top: 1px solid #CFCFCF;
display: block;
margin: 10px 0;
float: left;
}

p.password-message {
color: #666;
float: left;
font-style: italic;
}


/*
  Cart ==============================================
*/

#CartForm_CartForm .Actions {
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
text-align: right;
}

#CartForm_CartForm input.text {
width:200px;
padding:5px;
color:#333;
border:1px solid #CDDDDD;
}

#CartForm_CartForm .cartquantity input.text {
width: 30px;	
}

#Cart span.error,#Cart span.required,#Cart span.validation {
color:red;
font-size:14px;
font-style:italic;
margin-bottom:5px;
width:100%;
float: left;
}

/* 
  Account ========================================
*/
#Orders {
color: #777;	
}

#Orders h4 {
color: #333;
font-size: 14px;
}

#Orders li {
list-style-type: none;
border-bottom: 1px solid #CFCFCF;
padding: 15px 10px;
}

#Orders li.LastOrder {
border: none;	
}

#Orders li p {
margin-left: 10px;	
}

/* 
  Product ========================================
*/
#Product {
float: left;
padding: 10px 0px;
width: 100%;
}

#FirstImage img {
border: 1px solid #999;
padding: 2px;
float: left;
margin: 0px 10px 10px 0px;
}

#ProductPrice {
font-size: 22px;
margin-bottom: 15px;
color: #555;
}

#Product input.text {
width:200px;
padding:5px;
color:#333;
border:1px solid #CDDDDD;
}

#Product label {
color: #777;
float: left;
margin: 5px;
min-width: 60px;
}

#Product div.field {
clear: both;	
}

#Quantity input.text {
width: 30px;
}

#Quantity .middleColumn {
float: left;
}

#Product .option select {
padding: 2px;
min-width: 100px;
}

#Form_AddToCartForm {
}

#Form_AddToCartForm fieldset, #Form_AddToCartForm .Actions {
}

#Form_AddToCartForm .Actions {
padding: 15px;	
}

#ProductAdd {
float: left;
min-width: 300px;
}

#ProductDescription {
float: left;
padding: 5px;
clear: left;
}

#VariationPrice {
font-size: 14px;	
}

/* 
  Security ========================================
*/

#Security input.text, #Security textarea {
width:200px;
padding:5px;
color:#333;
border:1px solid #CDDDDD;
}

#Security label.left {
color: #777;
float: left;
clear: left;
margin: 5px 0;
}

#Security label {
color: #777;
}

#Security .middleColumn {
float: left;
width: 100%;
}

#Security .checkbox {
float: left;
margin: 15px 0 0 0;
}

#Security .Actions {
margin: 15px 0;
float: left;
}

#Security .Actions input {
float: left;
margin-right: 15px;
}	

#Security p.bad {
color:red;
font-size:14px;
font-style:italic;
margin-bottom:5px;
}

#Security #ForgotPassword {
float: right;	
}
