/* Table of Contents
==================================================
  #Less Elements
  #SwipeStripe Admin Styles
  #Model Admin Styles
*/

/* #Less Elements
================================================== */
// Core variables and mixins
@import "libs/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "libs/mixins.less";

// Base CSS
@import "libs/tables.less";

// Utility classes
@import "libs/utilities.less"; // Has to be last to override when necessary

/* #SwipeStripe Admin Styles
================================================== */
.sws {

  .table {
    th {
      background: @grayLighter;
    }

    td {
      background: @white;
      
      .alert {
        margin-bottom: 0px;
      }
    } 
    
    .row-header {
      text-align: right;
      font-weight: bold;
    }
  }

  .sws-snippets {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
